@import "tailwindcss";

:root {
  font-family: var(--font-manrope);
}

body {
  font-family: var(--font-manrope);
}

@layer base {
  p {
    font-size: 15px;
    font-weight: medium;
    line-height: 25px;
  }
}

.app-container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
  font-weight: bold;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  font-weight: bold;
  text-transform: uppercase;
}
